.root {
}

.mainView {
	width: 100%;
	height: calc(100vh - 56px);
	margin: auto;
	display: flex;
	flex-direction: column;
}

.content {
	text-align: center;
	flex-grow: 1;
	display: flex;
}

.nextButton,
.previousButton {
	position: absolute;
	width: 120px;
  display: flex;
  align-items: center;
	justify-content: center;
	outline: none;
	border: none;
	background: none;
	cursor: pointer;
	z-index: 10;
	height: calc(100vh - 56px);
	top: 56px;
}

.nextButton i,
.previousButton i {
	font-size: 140px;
}

.previousButton {
	position: absolute;
	left: calc(50% - 520px);
}

.nextButton {
	right: calc(50% - 520px);
}

.startView {
	height: 400px;
	width: 600px;
	margin: auto;
}

.startQuizButton {
	height: 200px;
	width: 100%;
	margin: auto;
}

.scoreWrapper {
	display: block;
	width: 800px;
	margin: 0 auto;
}

.score {
	display: flex;
	justify-content: space-evenly;
	font-size: 30px;
}

.score i {
	font-size: 40px;
	line-height: 40px;
}

.total,
.correct,
.incorrect {
	display: flex;
	line-height: 40px;
}

.correct i {
	color: #78C850;
}

.incorrect i {
	color: #e6261b;
}

.percent {
  text-align: center;
	margin-top: 0;
	margin-bottom: 1em;
	font-size: 60px;
}

.difficulty {
	display: flex;
	flex-direction: column;
	height: calc(42px * 3 + 16px);
	justify-content: space-between;
}

.amount {
	display: flex;
	flex-direction: column;
	height: calc(42px * 4 + 24px);
	justify-content: space-between;
}

@media(max-width: 600px) {
	.startView {
		width: 90%;
		height: 300px;
	}

	.startQuizButton {
		height: 100px;
	}

	.scoreWrapper {
		width: 100%;
	}
}

@media(max-width: 1600px) and (min-width: 1071px) {
	.mainView {
		width: calc(100vw - 225px - 32px);
    margin: 0;
	}
}
