.root {
	flex: 1;
	overflow: hidden;
}

.link:hover {
	color: #4db3ff;
	background-color:#ccddee;
}

.link {
	min-width: 140px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	padding: 18px;
	color: black;
	box-sizing: border-box;
}

.selected {
	color: darkorange;
}

.randomBook {
	margin-right: 0.5em;
}

.select {
	background-color: #ffffff;
	border: 1px solid #d6dde2;
	border-bottom-color: #5c6c7c;
	cursor: pointer;
	font-size: inherit;
	line-height: 24px;
	min-height: calc(8px * 5 + 2);
	outline: none;
	padding: 8px calc(8px * 3) 8px 8px;
	position: relative;
	text-align: left;
	width: 100%;
	appearance: none;
	border-radius: 0;
}
