.root {
	flex: 1;
	overflow: hidden;
}

.link:hover {
	color: #4db3ff;
	background-color:#ccddee;
}

.link {
	min-width: 140px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	padding: 18px;
	color: black;
	box-sizing: border-box;
}

.selected {
	color: darkorange;
}

.randomBook {
	margin-right: 0.5em;
}

.selected {
	border: 1px solid #d6dde2;
}

.selected.generationButton,
.selected .addButton {
	color: #006be6;
}

.selected.generationButton {
	border-color: #006be6;
}

.generationButton,
.addButton {
	background-color: #ffffff;
	border: 1px solid #d6dde2;
	color: slategray;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	min-width: calc(8px * 20);
	padding: 8px;
	margin: 0;
}

.generationButton:focus,
.addButton:focus {
	outline: none;
}

.generationButton {
	display: flex;
	margin-bottom: 8px;
	width: 100%;
}

.addButton {
	border: none;
	padding: 0;
	margin: 0;
	min-width: 24px;
	height: 24px;
	margin-right: 8px;
}

.onlyGeneration {
	padding-left: 40px;
}

@media(min-width: 1070px) {
	.generations {
		position: absolute;
		top: 72px;
		right: 16px;
    width: 225px;
	}
}
